* {
  box-sizing: border-box;
  font-family: 'OpenSans';
  margin: 0;
  padding: 0;
}

@keyframes show {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 60px;
    width: 170px;
  }
}

@font-face {
  font-family: 'OpenSans';
  src: url('../src/fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/fonts/OpenSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ava';
  src: url('../src/fonts/Ava.woff') format('woff'), url('../src/fonts/Ava.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 216, 216);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

@media (max-width: 999.99px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
  }
  .logo {
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 60px;
    margin: 10px;
  }
  .earthIcon {
    background-image: url(./icons/earth.svg);
    background-size: contain;
    padding: 0 0 0 0;
    margin-top: 20px;
    background-position: center;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    transform: translate(0, 20px);
  }
  
  .mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
  }
  .mobileVersion {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

  .mobileVersion .iconDesktop {
    display: block;
    background-image: url(./icons/desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
  }

  .mobileVersion p {
    font-size: 25px;
    text-align: center;
  }
  
  .mainContent .firstContainer {
    display: none;
  }
  
  .mainContent .secContainer {
    display: none;
  }

  
  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
  
}









@media (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid black;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
  }
  .logo {
    padding: 0 0 0 20px;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 60px;
    margin: 10px;
  }
  .earthIcon {
    background-image: url(./icons/earth.svg);
    background-size: contain;
    padding: 0 0 0 0;
    margin-left: 25px;
    background-position: center;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    transform: translate(0, 2px);
  }
  
  .mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    
  }

  .mainContent .mobileVersion {
    display: none;
  }
  
  .mainContent .firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
    gap: 50px;
  }
  
  .mainContent .secContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 35%;
  }
  
  .mainContent .secContainer .knockKnock {
    font-weight: normal;
    font-size: 30px;
  }
  
  .mainContent .secContainer .btnEnter {
    display: block;
    width: 0;
    height: 0;
    font-weight: normal;
    font-size: 30px;
    border: 2px solid black;
    background-color: white;
    line-height: 57px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    animation: show 0.3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transition: 0.3s;
  }
  
  .mainContent .secContainer .btnEnter:hover {
    transform: scale(1.03);
  }
  .mainContent .secContainer .btnEnter i.enterIcon {
    display: inline-block;
    background-image: url(./icons/enter.svg);
    width: 23px;
    height: 23px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mainContent .firstContainer .welcome h2 {
    font-weight: normal;
    font-size: 45px;
  }
  .mainContent .firstContainer .welcome p {
    font-weight: normal;
    font-size: 30px;
  }
  
  .mainContent .firstContainer .controls h2 {
    font-weight: normal;
    font-size: 40px;
  }
  
  .mainContent .firstContainer .controls .wrapperKeyboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  }
  .mainContent .firstContainer .controls .wrapperKeyboard div {
    background-image: url(./icons/keyboard.jpg);
    width: 49%;
    height: 250px;
    border-radius: 10px;
    opacity: 0.5;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
    .mainContent .firstContainer .controls .wrapperKeyboard ol {
  width: 49%;
  margin-left: 30px;
    }
  
    .mainContent .firstContainer .controls .wrapperKeyboard ol li {
      font-size: 22px;
    }
  
  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}

