* {
  box-sizing: border-box;
  font-family: 'OpenSans';
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'OpenSans';
  src: url('../src/fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/fonts/OpenSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ava';
  src: url('../src/fonts/Ava.woff') format('woff'), url('../src/fonts/Ava.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(193, 193, 193);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

@media (max-width: 999.99px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;
  }


  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 60%;
    background-color: #0A3A40;
    border-radius: 2vh;
    color: white;
    border-bottom: 2px solid black;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
  }
  .logo {
    padding: 0 0 0 2vh;
    letter-spacing: 0.5vh;
    font-weight: normal;
    font-size: 6vh;
    transform: translate(0, -2px);
  }
  .earthIcon {
    background-image: url(./icons/earthWhite.svg);
    background-size: contain;
    background-position: center;
    display: block;
    width: 6vw;
    height: 5vh;
    margin-top: 1vh;
    background-repeat: no-repeat;
  }
  
  .mainContent .mobileVersion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 30%;
    background-color: #1D7373;
    border-radius: 2vh;
    padding: 2vh;
    color: white;
  }

  .mainContent .mobileVersion i.iconDesktop {
    background-image: url(./icons/desktopWhite.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  section.sectionContainers {
    display: none;
  }
  
  
  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
  
}









@media (min-width: 1000px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }


  .header {
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #0A3A40;
    color: white;
    border-bottom: 2px solid black;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
  }
  .logo {
    padding: 0 0 0 2vh;
    letter-spacing: 0.5vh;
    font-weight: normal;
    font-size: 6vh;
    transform: translate(0, -2px);
  }
  .earthIcon {
    background-image: url(./icons/earthWhite.svg);
    background-size: contain;
    margin-left: 3vh;
    background-position: center;
    display: block;
    width: 4%;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  .mainContent .mobileVersion {
    display: none;
  }

  section.sectionContainers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 85%;
  }
  
  .mainContent .firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 45%;
  }
  
  .mainContent .secContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
  }
  
  .mainContent .secContainer .btnEnter {
    display: block;
    position: relative;
    height: 20%;
    width: 50%;
    font-weight: normal;
    font-size: 5vh;
    border: 2px solid black;
    background-color: white;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
    line-height: 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.3s;
  }
  
  .mainContent .secContainer .btnEnter:hover {
    transform: scale(1.03);
  }
  .mainContent .secContainer .btnEnter i.enterIcon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    display: inline-block;
    background-image: url(./icons/enter.svg);
    width: 4.5vh;
    height: 4.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mainContent .secContainer .btnEnter strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .mainContent .firstContainer .welcome {
    background-color: #0F5959;
    color: white;
    padding: 2vh;
    border-radius: 1vh;
    width: 80%;
    height: 35%;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);
  }
  
  .mainContent .firstContainer .welcome h2 {
    font-weight: normal;
    font-size: 6vh;
  }
  .mainContent .firstContainer .welcome p {
    font-weight: normal;
    font-size: 3vh;
  }
  
  .mainContent .firstContainer .controls {
    background-color: #1D7373;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 2vh;
    border-radius: 1vh;
    height: 45%;
    width: 100%;
    box-shadow: 8px 8px 24px -16px rgba(0, 0, 0, 1);

  }

  .mainContent .firstContainer .controls h2 {
    font-weight: normal;
    font-size: 6vh;
    height: 10%;
    margin-bottom: 1vh;
  }
  
  .mainContent .firstContainer .controls .wrapperKeyboard {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: space-between;
  }
  .mainContent .firstContainer .controls .wrapperKeyboard div {
    background-image: url(./icons/keyboard.jpg);
    width: 49%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.9;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
    .mainContent .firstContainer .controls .wrapperKeyboard ol {
  width: 49%;
  margin-left: 3vh;
    }
  
    .mainContent .firstContainer .controls .wrapperKeyboard ol li {
      font-size: 2.2vh;
    }
  
  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}

